doctype html
html(lang='es', class=htmlClass)
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title prueba
        link(rel='stylesheet', href='css/style.css')

    body

        //- block content
        p probando asdasdas asdasdas asdasd

        script(src='js/main.js')