.header{
    height: 56px;
    margin: 0 0 20px 0;
    @media screen and (min-width: 1025px) {
        height: 120px;
        margin: 0 0 40px 0;
        transition: .5s;
    }
    .container-header{
        background: $verde;
        display: flex;
        height: inherit;
        position: fixed;
        width: 100%;
        z-index: 1000;
        .header-logo{
            height: inherit;
            a{
                display: flex;
                height: 100%;
                align-items: center;
                padding: 0 20px;
                width: 92px;
                @media screen and (min-width: 1025px) {
                    width: 200px;
                    padding: 0 30px;
                    &:hover{
                        background: #7fcbcd;
                    }
                }
                .arduino-logo{
                    display: none;
                    @media screen and (min-width: 1025px) {
                        display: initial;
                        height:100px;
                        transition: .1s;
                    }
                }
                .arduino-logo-compressed{
                    height: 30px;
                    @media screen and (min-width: 1025px) {
                        display: none;
                        transition: .1s;
                    }
                }
                .scroll-logo{
                    @media screen and (min-width: 1025px) {
                        display: none;
                        transition: .1s;
                    }
                }

                .scroll-logo-compressed{
                    @media screen and (min-width: 1025px) {
                        display: initial;
                        transition: .1s;
                    }
                }

            }
            .scroll{
                @media screen and (min-width: 1025px) {
                    width: 112px;
                    padding: 0 20px;
                    margin-right: 30px;
                    transition: .1s;
                }
            }
        }
        .header-menu{
            flex-grow: 1;
            display: flex;
            align-items: center;
            @media screen and (min-width: 1025px) {
                flex-direction: column-reverse;
                align-items: initial;
            }
            .container-menu{
                // display: none;

                @media screen and (min-width: 1025px) {
                    display: flex;
                    justify-content: flex-end;
                }
                @media screen and (min-width: 1201px) {
                    justify-content: center;
                }
                .menu{
                    display: none;
                    position: absolute;
                    background: #7fcbcd;
                    left: 0px;
                    padding: 0;
                    width: 100%;
                    top: 56px;
                    border-top: 1px solid #34AFB3;
                    &::after{
                        content: '';
                        bottom: -52px;
                        position: absolute;
                        height: 52px;
                        left: 0;
                        width: 100%;
                        background: #00979d;
                        @media screen and (min-width:1025px) {
                            content: none;
                        }
                    }
                    @media screen and (min-width: 1025px) {
                        display: flex !important;
                        padding: 0 10px 0 0;
                        border-top: none;
                        background: none;
                        justify-content: flex-end;
                        position: initial;
                    }
                    @media screen and (min-width: 1201px) {
                        padding-right: 200px;
                        justify-content: center;
                    }
                    .menu-option{
                        display: flex;
                        border-bottom: 1px solid #A5F2EE;
                        justify-content: center;
                        @media screen and (min-width:1025px){
                            border-bottom: none;
                            &:hover{
                            background: #7fcbcd;
                            }
                        }
                        &:nth-child(1){
                            background: $verde;
                            @media screen and (min-width:481px){
                                display: none;
                            }
                            border-bottom:1px solid #34AFB3;
                            a{
                                color: white;
                            }
                        }
                        &:nth-child(2){
                            background: $verde;
                            border-bottom: none;
                            @media screen and (min-width:770px){
                                display: none;
                            }
                            a{
                                color: white;
                            }
                        }
                        a{
                            color: #005c5f;
                            width: 100%;
                            text-align: center;
                            // height: 52px;
                            padding: 18.5px 0;
                            font-size: 13px;
                            letter-spacing: 2px;
                            font-weight: 600;
                            @media screen and (min-width:1025px){
                                color: white;
                                padding: 16px 10px;
                                &:hover{
                                    color:#005c5f;
                                }
                            }
                        }
                    }
                    .menu-input{
                        position: relative;
                        .input-search{
                            width: calc(100% - 46px);
                            background: #006d70;
                            font-size: 13px;
                            letter-spacing: 1px;
                            padding-left: 20px;
                            color: white;
                            border: none;
                            height: 32px;
                            margin: 0 auto;
                            margin-top: 10px;
                            margin-bottom: 10px;
                            outline: 0;
                            &::placeholder {
                            color: white;
                            outline: 0;
                            }
                        }
                        .search{
                            position: absolute;
                            cursor: pointer;
                            padding: 0 10px;
                            top: 10px;
                            right: 22px;
                            height: 32px;
                            display: flex;
                            align-items: center;
                            color: white;
                        }
                    }
                    .submenu{
                        display: flex;
                        flex-wrap: wrap;
                        // border-bottom: 1px solid #A5F2EE;
                        @media screen and (min-width:1025px) {
                            position:relative;
                            color: white;
                            &:hover{
                                color:#005c5f;
                                .submenu-menu{
                                    display: block;
                                    .submenu-option{
                                        width: stretch;
                                        border-bottom: 1px solid #a5f2ee;
                                        a{
                                            background: #7fcbcd;
                                            color: #005c5f;
                                            padding: 16px 10px;
                                            &:hover{
                                                background: $verde;
                                                color: white;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .submenu-menu{
                            background: #ecf1f1;
                            padding: 0;
                            width: 100%;
                            display: none;
                            @media screen and (min-width:1025px) {
                                position: absolute;
                                top: 46px;
                                width: -webkit-fill-available;
                                background: none;
                            }
                            .submenu-option{
                                border-bottom: 1px solid #dae3e3;
                                width: 100%;
                                text-align: center;
                                display: flex;
                                align-items: center;
                                // @media screen and(min-width:1025px) {
                                //     width: max-content;
                                //     border-bottom: 1px solid #a5f2ee;
                                // }
                                a{
                                    padding: 10px 0;
                                    color:#7f8c8d;
                                    font-size: 11px;
                                    letter-spacing: 3px;
                                    font-weight: 600;
                                    text-align: center;
                                    @media screen and (min-width:1025px){
                                        // background: #7fcbcd;
                                        // color: #005c5f;
                                        // padding: 16px 10px;
                                        // &:hover{
                                        //     background: $verde;
                                        //     color: white;
                                        // }
                                    }
                                }
                                &:last-child{
                                    border-bottom: none;
                                }
                            }
                        }
                        .scroll{
                            top: 54px;
                        }
                    }
                }
            }
            .scroll-menu{
                @media screen and(min-width:1025px) {
                    flex: 1;
                    justify-content: center;
                    .menu{
                        padding: 0;
                    }
                }
            }
            .container-login{
                flex: 2;
                display: flex;
                justify-content: flex-end;
                @media screen and (min-width: 1025px) {
                    padding: 0 10px 0 0;
                }
                a{
                    display: flex;
                    align-items: center;
                    color: white;
                    padding: 20px 20px;
                    height: 100%;
                    @media screen and (min-width: 1025px) {
                        align-items:initial;
                        padding: 18px 12px;
                        height: 50px;
                    }
                }
                .search{
                    display: none;
                    @media screen and (min-width: 481px) {
                        display: flex;
                    }

                }
                .burguer-menu{
                    cursor: pointer;
                    @media screen and (min-width:1025px) {
                        display: none;
                    }
                }
                .shoping{
                    @media screen and (min-width:1025px) {
                        &:hover{
                            background: #7fcbcd;
                        }
                    }
                }
                span{
                    display: none;
                    font-size: 14px;
                    font-weight: 600;
                    width: 100px;
                    @media screen and (min-width: 770px) {
                        display: initial;
                        width: initial;

                    }
                    a{
                        letter-spacing: 2px;
                        width:initial;
                        @media screen and (min-width: 1025px) {
                            padding: 20px 10px;
                            &:hover{
                                background: #7fcbcd;
                            }
                        }
                    }

                }
            }
            .scroll{
                @media screen and (min-width: 1025px) {
                    flex: none;
                }
            }
        }
        .scroll{
            @media screen and (min-width: 1025px) {
                flex-direction: row;
                flex-grow: 1;
                transition: .1s;
            }
        }
    }
}
.scroll{
    @media screen and (min-width: 1025px) {
        height: 54px;
        transition: .5s;
    }

}

