section.form{
    background: #F4F4F4;
    width: 100%;
    height: calc( 100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
    .login{
        padding: 0 100px 0 0;
        border-right: 1px solid #dae3e3;
        form{
            display: flex;
            flex-direction: column;
            h2{
                font-weight: 300;
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 20px;
                color: #434f54;
                font-size: 26px;
                letter-spacing: 4px;
            }
            input{

                font-size: 16px;
                font-weight: normal;
                padding: 7px 14px;
                margin: 7px 0;
                color: #434f54;
                text-transform: uppercase;
                border: 1px solid #e5e3e3;
            }
            a{
                font-size: 12px;
                font-weight: normal;
                height: 34px;
                width: 330px;
                color: $verde;
                text-align: end;
                text-transform: initial;
                letter-spacing: 1.5px;


            }
            .btn-submit{
                padding: 15px 14px;
                background: $verde;
                border: none;
                color: white;
                box-shadow: 0 4px #005c5f;
                font-size: 16px;
            }
        }

    }
    .crear-cuenta{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 0 100px;
        h2{
            letter-spacing: 2px;
            font-size: 18px;
            color: #434f54;
            font-weight: 100;
            text-transform: uppercase;
            margin-bottom: 19px;
        }
        img{
            margin-bottom: 21px;
            width: 130px;

        }
        a{
            button{
                padding: 16px 150px;
                border:none;
                background: #c9d2d2;
                color:#4e5b61;
                text-transform: uppercase;
                box-shadow: 0 4px #95a5a6;
                font-size: 16px;
                transition: .8;
                &:hover{
                    box-shadow: 0 2px #95a5a6;
                }

            }

        }

    }
}
