.contenido-principal{
    padding: 0 20px;
    margin-bottom: 40px;

    @media screen and (min-width: 780px) {
        max-width: 780px;
        margin: 0 auto;
    }
    @media screen and (min-width: 1025px) {
        display: flex;
        max-width: 1280px;
        padding: 0 40px;
        flex-wrap: wrap;
    }
    .container-contenido{
        background: #ecf1f1;
        transition: all 0.5s ease-in-out;
        height: auto;
        opacity: 0;
        max-height: 0px;
        z-index: -3;
        margin-bottom: 0px;
        &.active{
            max-height: 1000px;
            opacity: 1;
            margin-bottom: 20px;
            .container-columnas{
                display:flex;
            }
            .close{
                display: block;
            }
        }
        .container-columnas{
            // display: none;
            @media screen and (min-width: 720px) {
                display: flex;
            }
            .columna{
                display: flex;
                margin: 0 20px;
                padding: 20px 0;
                border-bottom: 4px solid white;
                &:nth-last-of-type(1){
                    border-bottom: none;
                }
                @media screen and (min-width:720px) {
                    border-bottom: none;
                    border-right: 4px solid white;
                    flex-direction: column;
                    padding: 0 16px;
                    margin: 20px 0;
                    &:last-child{
                        border-right: none;
                    }
                }
                @media screen and(min-width:1025px){
                    width: 100%;
                }
                .container-animacion{
                    margin-right: 30px;
                    align-self: center;
                    width: 150px;
                    height: 150px;
                    @media screen and (min-width:720px) {
                        margin: 0;
                        width: initial;
                        max-width: 204px;
                        width: 100%
                    }
                    .video{
                        max-width: 250px;
                    }
                    img{
                        max-height: 150px;
                        max-width: 100%;
                    }
                }
                .container-informacion{
                    flex: 1.1;
                    @media screen and (min-width:720px) {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }
                    .title{
                        color: $verde;
                        text-transform: uppercase;
                        font-size: 26px;
                        font-weight: 100;
                        letter-spacing: 1.5px;
                        margin: 30px 0 15px;
                        margin-top: 0;
                        @media screen and (min-width:720px) {
                            margin-top: 30px;
                        }
                    }
                    .texto{
                        color: #434f54;
                        margin-bottom: 30px;
                        font-size: 16px;
                        line-height: 1.6;
                    }
                    a{
                        color: $verde;
                        font-size: 16px;
                        line-height: 1.6;
                        text-transform: initial;
                    }
                }
            }
        }
        .close{
            background: #dae3e3;
            text-align: center;
            color: #434f54;
            cursor: pointer;
            padding: 1em;
            transition: .3s;
            // display: none;
            &:hover{
                background: #bdc7c7;
                color: white;
            }
            span{
                letter-spacing: 1px;
                text-transform: uppercase;
                font-size: 12px;
                margin-right: 5px;
            }
        }
    }
    .columna-izquierda{
        padding: 0;
        @media screen and (min-width: 1025px) {
            width: calc(33.333% - 15px);

        }
        .container-whats-arduino{
            a{
                display: flex;
                flex-direction: row-reverse;
                background: #ecf1f1;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
                cursor: pointer;
                @media screen and (min-width: 1025px) {
                    flex-direction: column;
                    justify-content: initial;
                    padding: 20px;
                    transition: .5s;
                    &:hover{
                        background: #7fcbcd;
                        p{
                            color: white;
                        }
                    }
                }
                img{
                    padding:22px 0;
                    width: 85px;
                    @media screen and (min-width: 720px) {
                        width: 150px;
                    }
                    @media screen and (min-width: 1025px) {
                        max-width: 230px;
                        width: 100%;
                        padding: 21px 0 0 0;

                    }
                }
                p{
                    color: #008184;
                    text-transform: uppercase;
                    margin: 0 0 0 25px;
                    font-size: 25px;
                    font-weight: 100;
                    width: 145px;
                    letter-spacing: 3px;
                    @media screen and (min-width: 720px) {
                        width: initial;
                    }
                    @media screen and (min-width: 1025px) {
                        font-size: 22px;
                        margin: 0;
                        font-weight: 100;
                    }
                }
            }
        }
        .container-buttons{
            display: flex;
            justify-content: space-between;
            height: 74px;
            margin-bottom: 20px;

            @media screen and (min-width: 720px) {
                height: 48px;
            }
            @media screen and (min-width: 1025px) {
                height: initial;
                flex-direction: column;
                &:first-child{
                    margin: 0;
                }
                &:last-child{
                    margin: 0;
                }
            }
            .button{
                color: white;
                flex:1;
                margin: 0 5px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                &:first-child{
                    margin: 0 5px 0 0;
                }
                &:last-child{
                    margin: 0 0 0 5px;
                }
                @media screen and (min-width: 720px) {
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 0 20px;
                }
                @media screen and (min-width: 1025px) {
                    margin: 0 0 20px 0;
                    padding: 0;
                    &:first-child{
                        margin: 0 0 20px 0;
                    }
                    &:last-child{
                        margin: 0;
                    }

                }
                .texto{
                    margin-bottom: 6px;
                    letter-spacing: 2px;
                    @media screen and (min-width: 720px) {
                        margin-bottom: 0;
                    }
                    @media screen and (min-width: 1025px) {
                        font-size: 18px;
                        display: flex;
                        padding: 10px 20px;
                    }
                    .titulo-completo{
                        display: none;

                        @media screen and (min-width: 1025px) {
                            margin: 0 0 0 3px;
                            display: block
                        }
                    }
                }
                .container-icono{
                    transition: .5s;
                    padding: 12px 20px;
                }
            }

            .naranja{
                background: $naranja;
                @media screen and (min-width: 1025px) {
                    &:hover{
                        .container-icono{
                            box-shadow: inset -60px 1px #f39c12;
                        }
                    }
                }
            }
            .verde{
                background: $verde;
                @media screen and (min-width: 1025px) {
                    &:hover{
                        .container-icono{
                            box-shadow: inset -60px 1px #7fcbcd;
                        }
                    }
                }
            }
            .plomo{
                background: $plomo;
                @media screen and (min-width: 1025px) {
                    &:hover{
                        .container-icono{
                            box-shadow: inset -60px 1px #9e846d;
                        }
                    }
                }
            }
        }
        .container-banners{
            display: none;
            @media screen and (min-width:1025px){
                display: block;
                margin-bottom: 30px;
                    .create, .education{
                        display: block;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-color: #ecf1f1;
                        background-position-x: center;

                    }
                    .create{
                        padding-top: 82%;
                        margin-bottom: 30px;
                        background-image: url("../img/create_banner.svg");
                        &:hover{
                            background-image: url("../img/banner-hover-create.svg");
                        }
                    }
                    .education{
                        padding-top:75%;
                        background-image: url("../img/education_banner.svg");
                        &:hover{
                            background-image: url("../img/education_banner_hover.svg");
                        }
                    }
            }
        }
        .container-texto{
            display: none;
            @media screen and (min-width:1025px){
                display: initial;
                margin-top: 15px;
            }
            section{
                .titulo{

                    .sombreado{
                        text-transform: uppercase;
                        display: block;
                        background: $verde;
                        color: white;
                        padding: 0 10px;
                        margin: 0 0 5px 0;
                        width: fit-content;
                        letter-spacing: 3px;
                        line-height: 1.3;
                        font-weight: 400;
                        font-size: 22px;
                    }
                }
                .texto{
                    margin: 8px 0 40px 0;

                    p{
                        color: #434f54;
                        font-weight: 100;
                        line-height: 1.5;
                        a{
                            text-transform: initial;
                            color: $verde;
                        }
                    }
                }
            }
        }
        .container-sociales{
            display: none;
            @media screen and (min-width:1025px){
                display: block;
                margin-bottom: 20px;
                    .menu{
                        padding: 0;
                        li{
                            margin: 10px 0;
                            a{
                                display: flex;
                                align-items: center;
                                text-transform: initial;
                                transition: .5s;
                                i{
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 50%;
                                    color: white;
                                    height: 28px;
                                    width: 28px;
                                }
                                .fa-twitter{
                                    background: #54C1F2;
                                }
                                .fa-google-plus{
                                    background: #D34836;
                                }
                                .fa-facebook{
                                    background: #3F65B6;
                                }
                                .fa-youtube{
                                    background: #EC1E12;
                                }
                                .fa-instagram{
                                    background: #714CC3;
                                }
                                .fa-flickr{
                                    background: #FF47A4;
                                }
                                .fa-github{
                                    background: black;
                                }
                                span{
                                    padding:0 10px;
                                    font-size: 16px;
                                    color: $verde;
                                }
                                &:hover{
                                    padding: 0 20px;
                                }
                            }
                        }
                    }
                }
        }

    }
    .container-principal{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media screen and (min-width:1025px){
            width: calc(66.666% + 5px);
            margin: 0 0 0 10px;
        }
        .item{
            flex: 1 1 45%;
            margin: 0 5px 20px;
            .container{
                display: flex;
                flex-direction: column;
                height: 100%;
                .container-imagen{
                    position: relative;
                    z-index: -1;
                    .descripcion{
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        max-width: 80%;
                        left: 10%;
                        top: 5%;
                        .texto{
                            p{
                                font-weight: 100;
                                display: inline;
                                line-height: 1.3;
                                background: #f39c12;
                                font-size: 3.33797vw;
                                box-shadow: 10px 0 0 #f39c12,-10px 0 0 #f39c12;
                                letter-spacing: 3px;
                                color: white;
                                @media screen and (min-width:1025px){
                                    font-size: 2.10938vw;
                                }
                                @media screen and (min-width:1025px){
                                    font-size: 27px;
                                }
                            }
                        }
                        .texto-shop{
                            p{
                                background: #e67e22;
                                box-shadow: 10px 0 0 #e67e22,-10px 0 0 #e67e22;
                            }

                        }

                    }
                    .container-blog{
                        position: absolute;
                        z-index: 1;
                        background: $verde;
                        color: white;
                        right: 0;
                        padding: 5px 10px;
                        letter-spacing: 3px;
                    }
                    img{
                        height: auto;
                        width: 100%;
                        display: block;
                    }
                }

                .container-texto{
                    height: 100%;
                    background: #ECF1F1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding:20px;
                    span{
                        color: $verde;
                        font-weight: 100;
                        letter-spacing: 3px;
                        font-size: 3.05981vw;
                        line-height: 1.6;
                        @media screen and (min-width: 1025px) {
                            font-size: 1.71875vw;
                        }
                        @media screen and (min-width:1280px){
                            font-size: 22px;
                            letter-spacing: 2px;
                        }
                   }
                }
            }
            .hover-style1{
                opacity: .9;
                &:hover{
                    opacity: 1;
                    .container-texto{
                        background: #7fcbcd;
                        span{
                            color: white;
                        }
                    }
                }
            }
            .hover-style2{
                &:hover{
                    background: rgba(0,0,0,.1);
                }
            }
        }
    }
}
