footer
    div.menu-footer
        ul
            li
                a(href="#")  Copyright Notice
            li
                a(href="#")  Contact Us
            li
                a(href="#")  About Us
            li
                a(href="#")  Careers

        .suscribcion
                label NEWSLETTER
                .formulario
                    input.textbox(type="text" placeholder="ENTER YOUR EMAIL TO SIGN UP")
                    input.button(type="submit" value="SUBSCRIBE")

    div.menu-footer-sub
        span © 2017 Arduino
        ul.menu
            li
                a(href="#")
                    i.fa.fa-twitter(aria-hidden='true')
            li
                a(href="#")
                    i.fa.fa-google-plus(aria-hidden='true')
            li
                a(href="#")
                    i.fa.fa-facebook(aria-hidden='true')
            li
                a(href="#")
                    i.fa.fa-youtube(aria-hidden='true')
            li
                a(href="#")
                    i.fa.fa-instagram(aria-hidden='true')
            li
                a(href="#")
                    i.fa.fa-flickr(aria-hidden='true')
            li
                a(href="#")
                    i.fa.fa-github(aria-hidden='true')
    .flecha-superior
        i.fa.fa-arrow-up.fa-3x(aria-hidden='true')
