section.form
    section.login
        form(action="")
            H2 Login

            input(type="text" placeholder="username")

            input(type="text" placeholder="password")

            a(href="#") Forgot your username/password?

            input(type="submit" value="LOGIN").btn-submit
    section.crear-cuenta
        H2 create a new account
        img(src="img/newaccount.svg")
        a
            button sign up


