.contenido-principal
    .container-contenido.inactive
            .container-columnas
                .columna
                    .container-animacion
                        iframe.video(src="https://www.youtube.com/embed/UoBUXOOdLXY" frameborder="0" width="100%" height="150")
                    .container-informacion
                        p.title what is arduino?
                        p.texto Arduino is an open-source electronics platform based on easy-to-use hardware and software. It's intended for anyone making interactive projects.
                        a(href="#") Learn more about Arduino
                .columna
                    .container-animacion
                        img(src="img/what_is-board.png")
                    .container-informacion
                        p.title arduino board
                        p.texto Arduino senses the environment by receiving inputs from many sensors, and affects its surroundings by controlling lights, motors, and other actuators.
                        a(href="#") Discover the official Arduino boards
                .columna
                    .container-animacion
                        img(src="img/what_is-ide.svg")
                    .container-informacion
                        p.title arduino software
                        p.texto You can tell your Arduino what to do by writing code in the Arduino programming language and using the Arduino development environment.
                        a(href="#") Download the Arduino Software.
            .close
                span close
                i.fa.fa-times-circle
    aside.columna-izquierda
        .container-whats-arduino
            a
                p what is arduino?
                img.arduino(src="img/arduino-UNO.png")
        .container-buttons
            a.button.naranja(href="#")
                .texto
                    span.titulo-solo buy
                    span.titulo-completo an arduino
                .container-icono
                    i.fa.fa-shopping-cart.fa-lg(aria-hidden='true')
            a.button.verde(href="#")
                .texto
                    span.titulo-solo learn
                    span.titulo-completo arduino
                .container-icono
                    i.fa.fa-university.fa-lg(aria-hidden='true')
            a.button.plomo(href="#")
                .texto
                    span.titulo-solo donate
                .container-icono
                    i.fa.fa-heart.fa-lg(aria-hidden='true')
        .container-banners
                a.create(href="#")
                a.education(href="#")
        .container-texto
            section
                div.titulo
                    p.sombreado show off your
                    p.sombreado arduino project
                div.texto
                    p   Do you have a cool project you'd like to have featured on our social media channels?
                        a(href="#")  Share a tutorial
                        |  on the Arduino Project Hub!
            section
                div.titulo
                    span.sombreado  community
                div.texto
                    p   The ever-growing Arduino community is made up of everyone from hobbyists and students to designers and engineers all across the world. Have questions? The official multi-language
                        a(href="#")  Forum
                        |  is the place to go. Check out the
                        a(href="#")  Playground
                        |  for a collection of Arduino knowledge, tutorials, and tips provided by your fellow Arduino users. For information on the development of Arduino, see the
                        a(href="#")  Arduino project on GitHub.
            section
                div.titulo
                    span.sombreado  talk to us
                div.texto
                    p
                        a(href="#") Let us know
                        |  if you have any comments or concerns..
        .container-sociales
            ul.menu
                li
                    a(href="#")
                        i.fa.fa-twitter(aria-hidden='true')
                        span on Twitter
                li
                    a(href="#")
                        i.fa.fa-google-plus(aria-hidden='true')
                        span on Google +
                li
                    a(href="#")
                        i.fa.fa-facebook(aria-hidden='true')
                        span on Facebook
                li
                    a(href="#")
                        i.fa.fa-youtube(aria-hidden='true')
                        span on Youtube
                li
                    a(href="#")
                        i.fa.fa-instagram(aria-hidden='true')
                        span on Instagram
                li
                    a(href="#")
                        i.fa.fa-flickr(aria-hidden='true')
                        span on Flickr
                li
                    a(href="#")
                        i.fa.fa-github(aria-hidden='true')
                        span on GitHub
    .container-principal
        article.item
            a.container.hover-style1(href="#")
                .container-imagen
                    .container-blog blog
                    img(src="img/Wheelchair-385x289.png")

                .container-texto
                    span students invent a low-cost electric wheelchair kit with arduino
        article.item
            a.container.hover-style2(href="#")
                .container-imagen
                    .descripcion
                        .texto.texto-titulo
                            p   mkr proto shield
                        .texto.texto-descripcion
                            p   got an idea for your mkr1000? make it real!
                        .texto.texto-shop
                            p   shop-now
                    img(src="img/A000053_hp.jpg")
        article.item
            a.container.hover-style1(href="#")
                .container-imagen
                    .container-blog blog
                    img(src="img/Wheelchair-385x289.png")
                .container-texto
                    span students invent a low-cost electric wheelchair kit with arduino
        article.item
            a.container.hover-style2(href="#")
                .container-imagen
                    .descripcion
                        .texto.texto-titulo
                            p   mkr proto shield
                        .texto.texto-descripcion
                            p   got an idea for your mkr1000? make it real!
                        .texto.texto-shop
                            p   shop-now
                    img(src="img/A000053_hp.jpg")
        article.item
            a.container.hover-style1(href="#")
                .container-imagen
                    .container-blog blog
                    img(src="img/Wheelchair-385x289.png")
                .container-texto
                    span students invent a low-cost electric wheelchair kit with arduino
        article.item
            a.container.hover-style2(href="#")
                .container-imagen
                    .descripcion
                        .texto.texto-titulo
                            p   mkr proto shield
                        .texto.texto-descripcion
                            p   got an idea for your mkr1000? make it real!
                        .texto.texto-shop
                            p   shop-now
                    img(src="img/A000053_hp.jpg")
        article.item
            a.container.hover-style1(href="#")
                .container-imagen
                    .container-blog blog
                    img(src="img/Wheelchair-385x289.png")
                .container-texto
                    span students invent a low-cost electric wheelchair kit with arduino
        article.item
            a.container.hover-style2(href="#")
                .container-imagen
                    .descripcion
                        .texto.texto-titulo
                            p   mkr proto shield
                        .texto.texto-descripcion
                            p   got an idea for your mkr1000? make it real!
                        .texto.texto-shop
                            p   shop-now
                    img(src="img/A000053_hp.jpg")
        article.item
            a.container.hover-style1(href="#")
                .container-imagen
                    .container-blog blog
                    img(src="img/Wheelchair-385x289.png")
                .container-texto
                    span students invent a low-cost electric wheelchair kit with arduino
        article.item
            a.container.hover-style2(href="#")
                .container-imagen
                    .descripcion
                        .texto.texto-titulo
                            p   mkr proto shield
                        .texto.texto-descripcion
                            p   got an idea for your mkr1000? make it real!
                        .texto.texto-shop
                            p   shop-now
                    img(src="img/A000053_hp.jpg")
        article.item
            a.container.hover-style1(href="#")
                .container-imagen
                    .container-blog blog
                    img(src="img/Wheelchair-385x289.png")
                .container-texto
                    span students invent a low-cost electric wheelchair kit with arduino
        article.item
            a.container.hover-style2(href="#")
                .container-imagen
                    .descripcion
                        .texto.texto-titulo
                            p   mkr proto shield
                        .texto.texto-descripcion
                            p   got an idea for your mkr1000? make it real!
                        .texto.texto-shop
                            p   shop-now
                    img(src="img/A000053_hp.jpg")
        article.item
            a.container.hover-style1(href="#")
                .container-imagen
                    .container-blog blog
                    img(src="img/Wheelchair-385x289.png")
                .container-texto
                    span students invent a low-cost electric wheelchair kit with arduino
        article.item
            a.container.hover-style2(href="#")
                .container-imagen
                    .descripcion
                        .texto.texto-titulo
                            p   mkr proto shield
                        .texto.texto-descripcion
                            p   got an idea for your mkr1000? make it real!
                        .texto.texto-shop
                            p   shop-now
                    img(src="img/A000053_hp.jpg")
        article.item
            a.container.hover-style1(href="#")
                .container-imagen
                    .container-blog blog
                    img(src="img/Wheelchair-385x289.png")
                .container-texto
                    span students invent a low-cost electric wheelchair kit with arduino
        article.item
            a.container.hover-style2(href="#")
                .container-imagen
                    .descripcion
                        .texto.texto-titulo
                            p   mkr proto shield
                        .texto.texto-descripcion
                            p   got an idea for your mkr1000? make it real!
                        .texto.texto-shop
                            p   shop-now
                    img(src="img/A000053_hp.jpg")
        article.item
            a.container.hover-style1(href="#")
                .container-imagen
                    .container-blog blog
                    img(src="img/Wheelchair-385x289.png")
                .container-texto
                    span students invent a low-cost electric wheelchair kit with arduino
        article.item
            a.container.hover-style2(href="#")
                .container-imagen
                    .descripcion
                        .texto.texto-titulo
                            p   mkr proto shield
                        .texto.texto-descripcion
                            p   got an idea for your mkr1000? make it real!
                        .texto.texto-shop
                            p   shop-now
                    img(src="img/A000053_hp.jpg")

        //- article.item
        //-     a.container.hover-style1(href="#")
        //-         .container-blog blog
        //-         .container-imagen
        //-             img(src="img/TeagueLabs-385x289.png")
        //-         .container-texto
        //-             span integrating a nintendo power glove with today's vr tecnology
        //- article.item
        //-     a.container-dos.hover-style2(href="#")
        //-         .descripcion
        //-             .texto-titulo
        //-                 p   mkr proto shield
        //-             .texto-descripcion
        //-                 p   got an idea for your mkr1000 make it real!
        //-             .texto-compre
        //-                 p   shop-now
        //-         .container-imagen
        //-             img(src="img/ABX00003_hp.jpg")
        //- article.item
        //-     a.container.hover-style1(href="#")
        //-         .container-blog blog
        //-         .container-imagen
        //-             img(src="img/20170820_140946-385x289.jpg")
        //-         .container-texto
        //-             span antique organ speaks clues at an escape room
        //- article.item
        //-     a.container-dos.hover-style2(href="#")
        //-         .descripcion
        //-             .texto-titulo
        //-                 p   mkr proto shield
        //-             .texto-descripcion
        //-                 p   got an idea for your mkr1000 make it real!
        //-             .texto-compre
        //-                 p   shop-now
        //-         .container-imagen
        //-             img(src="img/MKRWAN_homepage.jpg")
        //- article.item
        //-     a.container.hover-style1(href="#")
        //-         .container-blog blog
        //-         .container-imagen
        //-             img(src="img/IDE_beta_Blogpost_featured-385x289.png")
        //-         .container-texto
        //-             span be among the first to try the arduino ide 1.9 beta
        //- article.item
        //-     a.container-dos.hover-style2(href="#")
        //-         .descripcion
        //-             .texto-titulo
        //-                 p   mkr proto shield
        //-             .texto-descripcion
        //-                 p   got an idea for your mkr1000 make it real!
        //-             .texto-compre
        //-                 p   shop-now
        //-         .container-imagen
        //-             img(src="img/A000066_hp.jpg")
        //- article.item
        //-     a.container.hover-style1(href="#")
        //-         .container-blog blog
        //-         .container-imagen
        //-             img(src="img/Scissors-385x289.png")
        //-         .container-texto
        //-             span cutting electronic parts with arduino-powered scissors
        //- article.item
        //-     a.container-dos.hover-style2(href="#")
        //-         .container-imagen
        //-             img(src="img/AUG_launch_Homepage.png")
        //- article.item
        //-     a.container.hover-style1(href="#")
        //-         .container-blog blog
        //-         .container-imagen
        //-             img(src="img/IMG_8528_cover-385x289.jpg")
        //-         .container-texto
        //-             span the weather followers randomizes your digital experience
        //- article.item
        //-     a.container-dos.hover-style2(href="#")
        //-         .descripcion
        //-             .texto-titulo
        //-                 p   mkr proto shield
        //-             .texto-descripcion
        //-                 p   got an idea for your mkr1000 make it real!
        //-             .texto-compre
        //-                 p   shop-now
        //-         .container-imagen
        //-             img(src="img/ABX00012_hp.jpg")
        //- article.item
        //-     a.container.hover-style1(href="#")
        //-         .container-blog blog
        //-         .container-imagen
        //-             img(src="img/SimHub-385x289.png")
        //-         .container-texto
        //-             span make an arduino-controlled boost cauge for your racing sim dash
        //- article.item
        //-     a.container-dos.hover-style2(href="#")
        //-         .container-imagen
        //-             img(src="img/1_1Promo_home.jpg")
        //- article.item
        //-     a.container.hover-style1(href="#")
        //-         .container-blog blog
        //-         .container-imagen
        //-             img(src="img/082017_1114_TinkeringTu1-385x289.jpg")
        //-         .container-texto
        //-             span a playmobil wedding band
        //- article.item
        //-     a.container-dos.hover-style2(href="#")
        //-         .descripcion
        //-             .texto-titulo
        //-                 p   mkr proto shield
        //-             .texto-descripcion
        //-                 p   got an idea for your mkr1000 make it real!
        //-             .texto-compre
        //-                 p   shop-now
        //-         .container-imagen
        //-             img(src="img/ABX00011_hp.jpg")
        //- article.item
        //-     a.container.hover-style1(href="#")
        //-         .container-blog blog
        //-         .container-imagen
        //-             img(src="img/FRHBMU0J8F6622E.MEDIUM-385x289.jpg")
        //-         .container-texto
        //-             span an arduino mouse wiggler!
        //- article.item
        //-     a.container.hover-style1(href="#")
        //-         .container-blog blog
        //-         .container-imagen
        //-             img(src="img/054-Robot-Cow-e1505228525210-385x289.jpg")
        //-         .container-texto
        //-             span meet moo-bot, a robotic cow scarecrow


