html {
    margin: 0;
    padding: 0;
    color: #000;
}

body {
    @extend html;
    background: white;
    min-height: 100%;
}

html,body{
    font-family: $base-font-family;
}

li{
    list-style: none;
}
//estilos exclusivo para el uso de wordpress y no usar un p en maquetado !
p{
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    width: inherit;
    height: inherit;
}

a {
    text-transform: none;
    text-decoration: none;
    // color: white;

    &:active,
    &:focus,
    &:hover {
        text-decoration: underline;
        text-decoration: none;
        outline: 0;
        color: white;
    }
}

* {
    box-sizing: border-box;
    margin: 0;

    &::before,
    &::after {
        @extend *;
    }
}


input{
    outline-color: transparent;
    &:focus,
    &:active{
        outline-color: transparent;
    }
}



.main{
    min-height: calc(100vh - 149px);
    @include tablet{
        min-height: calc(100vh - 127px);
    }
}
